DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=panic_backstage
APP_BASE_PATH=
APP_URL=http://localhost
JWT_SECRET=generate-with-openssl-rand-hex-48
MAIL_FROM_ADDRESS=noreply@yourdomain.com
MAIL_FROM_NAME=Backstage
